h1 {
  font-family: sans-serif;
  font-size: 65px;
  color: orange;
}

p {
  font-weight: 600;
  font-size: 3em;
  font-style: italic;
}

body {
  font-size: 16px;
  text-align: center;
  text-decoration: wavy;
}

ul {
  background-color: lightyellow;
}

#amarelo {
  background-color: yellow;
}

#vermelho {
  background-color: red;
}

#marrom {
  background-color: rgba(83, 53, 36, 0.952);
}

.cor-fundo {
  background-color: antiquewhite;
}
